<h1>RDownloader - A Bulk File Downloader Written in Node JS</h1>

<p>
Enter the URL of the page to go fetch links from:
</p>
<form action='fetch' method='post'>
    <label for='input'><input type="search" value='URL' name='url' /></label>
    <label for='submit'><button type="submit">Submit</button></label>
    <label for='reset'><button type="reset">Reset</button></label>
</form>