<html>
<title><%= title %></title>
<style type='text/css' media='screen'>
h1 {
    text-align: center;
    
}
body {
	font-family: 'Gill sans', Helvetica, Arial;
    text-align: center;
}
</style>
<body>
<%- body %>
</body>
</html>
